.container-menu-tittle{
  color: white;
}

.container-menu-tittle > h1{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 100px;
  display: flex;
  justify-content: center;
  max-width: 98%;
}

.container-menu-tittle > hr{
  margin-top: 20px;
  margin-bottom: 5px;
}
